﻿@model employee.Models.ViewModels.Input.Employee

@{
    ViewData["Title"] = "Add team member";
}

@using (Html.BeginForm("Add", "Employee", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th colspan="2" align="center">Person Details</th>
        </tr>
        <tr>
            <td>Name: </td>
            <td>
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>Position: </td>
            <td>
                @Html.TextBoxFor(m => m.Position)
            </td>
        </tr>
        <tr>
            <td>Select your gender: </td>
            <td>
                Male @Html.RadioButtonFor(m => m.Gender, "Male")
                Female @Html.RadioButtonFor(m => m.Gender, "Female")
                N/A @Html.RadioButtonFor(m => m.Gender, "")
            </td>
        </tr>
        <tr>
            <td>Address: </td>
            <td>
                @Html.TextBoxFor(m => m.Address)
            </td>
        </tr>
        <tr>
            <td>Department: </td>
            <td>
                @Html.TextBoxFor(m => m.Department)
            </td>
        </tr>
        <tr>
            <td>Salary: </td>
            <td>
                @Html.DropDownListFor(m => m.Salary, Enumerable.Range(10, 300).Select(o => new SelectListItem { Text = "£"+o.ToString()+"k", Value = (o*1000).ToString() }))
                @Html.ValidationMessageFor(m => m.Salary, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>Date of birth: </td>
            <td>
                @Html.EditorFor(m => m.DOB, new { htmlAttributes = new { @class = "datepicker" } })
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

}