﻿@model employee.Models.ViewModels.Ouput.EmployeeView

@{
    ViewData["Title"] = "Employer Details";
} 

<h2>Employer no. @Model.Id</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrolmentDate)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(item => item.Name)
            </td>
            <td>
                @Html.DisplayFor(item => item.Department)
            </td>
            <td>
                @Html.DisplayFor(model => model.Position)
            </td>
            <td>
                @Html.DisplayFor(model => model.Address)
            </td>
            <td>
                @Html.DisplayFor(model => model.DOB)
            </td>
            <td>
                @Html.DisplayFor(model => model.Gender)
            </td>
            <td>
                @Html.DisplayFor(model => model.Salary)
            </td>
            <td>
                @Html.DisplayFor(model => model.EnrolmentDate)
            </td>
        </tr>
    </tbody>
</table>