﻿@model employee.Models.ViewModels.Ouput.EmployeePageViewModel
    @{
    ViewData["Title"] = "Our Team";
    }


    <h2>Employees</h2>
    @using (Html.BeginForm())
    {
    <p>
        Filter: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Employees[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employees[0].Department)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Employees)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
